.tech-dashboard-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.dashboard-title {
  font-size: 2rem;
  font-weight: bold;
  color: #870B58;
  margin-bottom: 20px;
}

.improvement-section {
  margin-bottom: 20px;
}

.improvement-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  .improvement-button {
    background-color: #F8AD07;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;

    &:hover {
      background-color: darken(#F8AD07, 10%);
    }
  }
}

.difficulties-section {
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.submit-button {
  background-color: #870B58;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;

  &:hover {
    background-color: darken(#870B58, 10%);
  }
}

.recommendations-section {
  margin-bottom: 20px;
}

ul {
  list-style-type: disc;
  list-style-position: inside;
}

li {
  font-size: 1rem;
  color: #333;
}
