.side-nav {
  position: fixed;
  top: 50px; /* Adjust the top value to create space below the top navigation bar */
  left: 0;
  bottom: 0;
  background-color: #F8AD07;
  color: white;
  width: 200px;
  transition: width 0.3s;
  z-index: 1; /* Ensure the side navigation is above other content */

  ul {
    list-style: none;
    padding: 10px;

    li {
      padding: 10px 0;
      cursor: pointer;
      color: white;
      &.active {
        font-weight: bold;
      }
      &:hover {
        background-color: #34495e;
      }
    }
  }

  .menu-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    &:hover {
      background-color: #34495e;
    }
  }
}

.retracted {
  .side-nav {
    width: 80px;
  }
}

.main-content {
  margin-left: 200px; /* Adjust to match the width of the side navigation */
}
