.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Set a fixed height for the dashboard container */
  transition: all 0.3s; /* Add a smooth transition for extending/retracting */

  .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #870B58; /* Your brand's primary color */
    color: white;
    padding: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

    img {
      width: 30px; /* Adjust the image size as needed */
      height: 30px;
      border-radius: 50%; /* Make the user avatar round */
      margin-right: 10px;
    }

    h1 {
      margin: 0; /* Remove margin from h1 */
      font-size: 18px; /* Reduce font size for the title */
    }
  }

  .main-content {
    display: flex;
    flex: 1;
    background-color: #f2f2f2; /* Main content background color */

    .content {
      flex: 2;
      padding: 20px;

      .forms-row {
        display: flex;
        gap: 2%;
        justify-content: space-between;
        width: 100%; /* Ensure the forms row takes the full width */
      }
    }
  }
}
